<table id="pokemon-table" class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="th-sm">Nombre</th>
            <th class="th-sm">url</th>
            <th class="th-sm">acción</th>
        </tr>
    </thead>
    <tbody id="#data-pokemons">
    </tbody>
    <tbody id="data-single-pokemnon">
        <td id="data-name"></td>
        <td id="data-url"></td>
        <td>
            <i class="fas fa-info"></i>
            <button id="obtain-data">Obtener Datos</button>
        </td>
    </tbody>
</table>
<script src="../components/pokemonsComponent.js"></script>